In [24]:
# Pandas is for using data structures
import pandas as pd
# statsmodels contain modules for regression and time series analysis
import statsmodels.formula.api as smf
# statsmodels contain modules for regression and time series analysis
import statsmodels.api as sm
# numpy is for numerical computing of array and matrix
import numpy as np
# Matplotlib is a plotting package
import matplotlib.pyplot as plt
# matplotlib Showing the plot right after the current code  
%matplotlib inline
# scatter plot matrix
import seaborn as sns
import scipy.stats as stats
from sklearn.metrics import mean_squared_error
from math import sqrt
from statsmodels.stats.outliers_influence import variance_inflation_factor as VIF
import warnings
warnings.filterwarnings('ignore')

# Q2

In [2]:
homeprices = pd.read_csv('homeprices.csv')
Q1_data = homeprices.loc[:,:'Sale price']
Q1_data = Q1_data.rename(columns={'Sale price':'Sales price'})
Q1_new_data = homeprices.loc[:,'Bedrooms.new':].dropna()

In [3]:
Q1_X = Q1_data.drop(columns = 'Sales price')
Q1_Y = Q1_data['Sales price']

Q1_model = sm.OLS(Q1_Y,sm.add_constant(Q1_X)).fit()
print(Q1_model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            Sales price   R-squared:                       0.506
Model:                            OLS   Adj. R-squared:                  0.469
Method:                 Least Squares   F-statistic:                     13.34
Date:                Mon, 14 Mar 2022   Prob (F-statistic):           2.42e-10
Time:                        21:44:28   Log-Likelihood:                -1032.1
No. Observations:                  85   AIC:                             2078.
Df Residuals:                      78   BIC:                             2095.
Df Model:                           6
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const        -7.149e+06   3.82e+06     -1.871      0.065   -1.48e+07    4.56e+05
Bedrooms     -1.229e+04   9346.727     -1.315      0.192   -3.09e+04    6316.893
Bathrooms      5.17e+04   1.31e+04      3.948      0.000    2.56e+04    7.78e+04
Living area     65.9030     15.979      4.124      0.000      34.091      97.715
Lot size        -0.8971      4.194     -0.214      0.831      -9.247       7.453
Year built    3760.8978   1962.504      1.916      0.059    -146.148    7667.944
Property tax     1.4761      2.832      0.521      0.604      -4.163       7.115
==============================================================================
Omnibus:                        0.196   Durbin-Watson:                   2.144
Prob(Omnibus):                  0.907   Jarque-Bera (JB):                0.123
Skew:                          -0.090   Prob(JB):                        0.941
Kurtosis:                       2.956   Cond. No.                     8.38e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.38e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\tsa\tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

# Q4

In [19]:
Sy = Q1_Y.std()
R2 = Q1_model.rsquared
round(Sy), round(R2, 3)

(64992, 0.506)

In [20]:
RMSE = np.sqrt(1-0.506)*64992
RMSE

45679.71400540945

# Q5-6

In [21]:
from model_selection.model_selection import best_subset_selection

In [29]:
Q5_X = Q1_X.drop(columns = ['Lot size','Property tax',"Bedrooms"])

In [45]:
df = best_subset_selection(Q1_X, Q1_Y)

Loop...:   0%|          | 0/6 [00:00<?, ?it/s]

In [56]:
Q5 = df.iloc[[5,2,16,34],[-1,1,2,3]]
Q5

                             features           SSE  R_squared    adj_R2
5                     (Property tax,)  3.172866e+11   0.105761  0.094987
2                      (Living area,)  2.504573e+11   0.294112  0.285608
16          (Living area, Year built)  2.166154e+11   0.389492  0.374602
34  (Bathrooms, Lot size, Year built)  2.240287e+11   0.368599  0.345214

In [70]:
Q5.loc[5,"SSE"], Q5.loc[2,"SSE"], Q5.loc[16,"SSE"], Q5.loc[34,"SSE"]

(317286593808.10376, 250457310875.3988, 216615445413.46616, 224028658718.72284)

In [73]:
SSE = round(Q5.loc[34,"SSE"])
RMSE = np.sqrt(SSE/(85-3-1))
RMSE

52590.739775278984

In [82]:
RMSE_A = np.sqrt(SSE/(85-2))
RMSE_B = np.sqrt(SSE)/85
RMSE_C = np.sqrt(SSE)/(85-3-1)
RMSE_A, RMSE_B, RMSE_C

(51953.25270369485, 5568.431270323657, 5843.415530586554)